// homepage
$corail-title: #fb5353;
$dark-title: #404040;
$paragraph: #4b4b4b;
$background: #f6f6f6;

// footer
$footer-grey: #bbbbbb;
$footer-font: #9d9d9d;


// work page ???
$grey-title: #343434;
$grey-p: #888888;
$corail: #fb5757;